section.bannerwrap.clearfix
	#bannerwrap.rev_slider_wrapper.fullscreen-container
		#banner001.rev_slider.fullscreenbanner(data-version="5.1.1RC")
			ul
				//- SLIDE
				li(data-transition="crossfade")
					img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','left','center']", data-hoffset="['150','100','100','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['330','70','60','60']", data-width="['580','580','580','580']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
						.b-caption Giải pháp vải sợi và đồng phục của bạn
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','left','center']", data-hoffset="['150','100','100','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['250','70','60','60']", data-width="['580','580','580','580']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
						.s-caption Aliquam semper elit sed felis egestas, quis sem 80 nisl finibus faucibus. Donec pharetra tellus ac libero , et pretium lacus tincidunt.
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','left','center']", data-hoffset="['150','100','100','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['170','70','60','60']", data-width="['580','580','580','580']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
						a.link(href="#") Đặt hẹn tư vấn
				//- SLIDE
				//- li(data-transition="crossfade")
					img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','left','center']", data-hoffset="['150','100','100','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['70','70','60','60']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
						.banner-caption Giá trị cốt lõi của ANOVA CORP: 
							br
							|Chính trực - Hiệu quả - Chuyên nghiệp
				//- SLIDE
				//- li(data-transition="crossfade")
					img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
					.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['left','left','left','center']", data-hoffset="['150','100','100','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['70','70','60','60']", data-width="['500','450','500','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;', data-transform_out='auto:auto;s:1000;', data-mask_in='x:0px;y:[100%];', data-start='500', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index:10') 
						.banner-caption Tiếp tục phát huy các thế mạnh, truyền thống của Tập đoàn để khẳng định và giữ vững vị thế hàng đầu trong lĩnh vực nông nghiệp
