.flex.flex-wrap
	section.about-staff.clearfix(style="background: #f0f0f0 url(img/about/staff.png) bottom center no-repeat; background-size: 100% auto")
		.about-title Đội ngũ Faslink
	section.about-different.clearfix
		.title Dấu ấn khác biệt
		.caption Aenean in tellus quiseros to varius
		.about-des Nam tincidunt lacinia purus, eget lobortis risus min inanda suscipit non. Ut efficitur mauris no posuer sidamet lipsum ullamcorper. Pellentesque venenatis mi eget tortor eleifend, sed fratigue dismendo.
		ul.different-list
			li 
				.icon
					img(src="img/icon/a1.png", alt="")
				.des
					.title Đội ngũ thiết kế
					p Morbi gravida lorem vel duipe bibendum ismod,reet at dolor sit amet, purus.
			li 
				.icon
					img(src="img/icon/a2.png", alt="")
				.des
					.title Đội ngũ kĩ thuật viên
					p Fusce in dolor condimentum, varius mi ut, elfend libero. Vivamus suscipit nunc sapientelly.
section.about-factory.clearfix(style="background: url(img/about/nhamay.jpg) center center no-repeat;background-size: cover")
	.container
		h3.headtitle Nhà xưởng & Trang thiết bị
		.pagedes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proidante, bortis sit amet lorem, ornare augue. Aenean pellentesque sollicitudin augue, vitae interdum ers. Sed massa nisl, efficitur nisl ide, efficitur aliquam leo, donec iaculis massa.
		.factory-feature
			article.featurecol
				.number
					.counter 200
					.label thiết bị
					//- img(src="img/icon/1.png", alt="")
				.des Máy móc điện tử hiện đại
					br
					|& bộ rập cải tiến
			article.featurecol
				.number
					.counter 1800
					.label m<sup>2</sup>
					//- img(src="img/icon/2.png", alt="")
				.des Tổng diện tích xưởng
					br
					|sản xuất
			article.featurecol
				.number
					.counter 30.000
					.label sản phẩm
						br
						|/tháng
					//- img(src="img/icon/3.png", alt="")
				.des Năng lực sản xuất
					br
					|tại chỗ
section.about-company.clearfix
	.container
		.pagedes Bạn muốn trở thành một thành viên của FASLINK, hoặc muốn tìm hiểu thêm về công ty? Vui lòng truy cập website doanh nghiệp Fashion Link JSC.
		.btn-wrap
			a.link(href="#") Fashion Link JSC