section.about-intro.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-lg-4
				.about-title Giới thiệu
			.col-xs-12.col-lg-8
				.intro 
					figure
						.intro-img
							img(src="img/about/logo.png", alt="alt")
						figcaption 
							.intro-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proidante, ilera bortis sit amet lorem ac, mollis ornare augue. Aenean at pellentesquer sollicitudin augue, vitae interdum ers. Sed massa nisl, efficitu nisla ado, efficitur intoir aliquam leo. Donec iaculis massa dolor pellentesque, nile tristique elin justo blandit. Mauris sit amet mauris iaculis, sodales diame fermentue sollicoin turpis, sed scelerisque erat.
section.about-history.clearfix
	.container
		h1.headtitle Câu chuyện của Faslink
		section.history-wrap.clearfix
			article.milestones
				.time
					.date 10 tháng 10
					.year 2013
				.img 
					img(src="img/about/h1.png", alt="")
				.event Công ty Cổ Phần Kết Nối Thời Trang (Fashion Link Joint Stock Company) là sự hợp nhất giữa Công ty TNHH An Thuận Phát và Xuân Phương Nam, hoạt động với phương châm lấy những điểm mạnh của 2 công ty làm tiền đề phát triển, giải quyết nhu cầu ngày càng lớn của quý Khách hàng doanh nghiệp.
			article.milestones
				.time
					.date 19 tháng 6
					.year 2014
				.img 
					img(src="img/about/h2.png", alt="")
				.event Khánh thành chi nhánh & cơ sở sản xuất thứ 2 tại Bình Định. Fusce consectetur in tortor ut facilisis. Cras sed iaculis purio, proin vitae ligula.
			article.milestones
				.time
					.date 10 tháng 10
					.year 2015
				.img 
					img(src="img/about/h3.png", alt="")
				.event FASLINK đã đồng hành cùng 500 Doanh nghiệp & Tập đoàn, trở thành thương hiệu được khách hàng tin dùng. Donec posuere tempus nisl, vitae fringilla nisi maximus sit amet.
		section.home-feature.clearfix
			article.featurecol
				.number
					.counter 12
					.label năm
					img(src="img/icon/1.png", alt="")
				.des Kinh nghiệm triển khai 
					br
					|thực tế
			article.featurecol
				.number
					.counter 06
					.label lipsum
					img(src="img/icon/2.png", alt="")
				.des Cần bổ sung 1 thống kê 
					br
					|ấn tượng nào đó
			article.featurecol
				.number
					.counter 500
					.label đơn vị
					img(src="img/icon/3.png", alt="")
				.des Doanh nghiệp & tổ chức 
					br
					|tin dùng