section.support-page.clearfix
	.container
		h1.headtitle Câu hỏi thường gặp
		.row.flex.flex-wrap.flex-content-center
			.col-xs-12.col-lg-9
				ul.nav.nav-tabs(role='tablist')
					li.nav-item
						a.nav-link.active(data-toggle='tab', href='#home', role='tab')
							.icon
								img(src="", alt="")
							.label Vải & nguyên liệu
					li.nav-item
						a.nav-link(data-toggle='tab', href='#profile', role='tab')
							.icon
								img(src="", alt="")
							.label Thông số kích cỡ
					li.nav-item
						a.nav-link(data-toggle='tab', href='#messages', role='tab')
							.icon
								img(src="", alt="")
							.label Chính sách hậu mãi
				.tab-content
					#home.tab-pane.active(role='tabpanel')
						.faqlist.clearfix
							.faq
								.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
								.faqcontent.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
							.faq
								.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
								.faqcontent.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
							.faq
								.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
								.faqcontent.content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					#profile.tab-pane(role='tabpanel')
					#messages.tab-pane(role='tabpanel')
.container
	section.support-document.clearfix
		h2.headtitle Tài liệu hỗ trợ
		.row.flex.flex-wrap
			.col-xs-12.col-md-4
				.document-col
					.title Thiết kế
					.des Ut odio vestibulum, gravida augue quis, sollicitudin lorem ipsum euismod.
					a.link(href="#") Tải file .pdf
			.col-xs-12.col-md-4
				.document-col
					.title Thiết kế
					.des Ut odio vestibulum, gravida augue quis, sollicitudin lorem ipsum euismod.
					a.link(href="#") Tải file .pdf
			.col-xs-12.col-md-4
				.document-col
					.title Thiết kế
					.des Ut odio vestibulum, gravida augue quis, sollicitudin lorem ipsum euismod.
					a.link(href="#") Tải file .pdf
			.col-xs-12.col-md-6
				.document-receive
					.title Nhận tài liệu tại nhà
					.des Vui lòng đăng kí với FASLINK nếu bạn muốn nhận catalogue, brochure,... và các tài liệu khác qua bưu điện.
					a.link(href="#") Liên hệ
			.col-xs-12.col-md-6
				.document-direct
					.title Tư vấn trực tiếp
					.des Liên hệ số hotline bên dưới để đặt lịch tư vấn trực tiếp với nhân viên CSKH của FASLINK.
					a.phone(href="tel:0916 365 365") <i class="fa fa-phone" aria-hidden="true"></i>0916 365 365