.container
	section.home-feature
		.featurecol
			.number
				.counter 12
				.label năm
				img(src="img/icon/1.png", alt="")
			.des Kinh nghiệm triển khai 
				br
				|thực tế
		.featurecol
			.number
				.counter 06
				.label lipsum
				img(src="img/icon/2.png", alt="")
			.des Cần bổ sung 1 thống kê 
				br
				|ấn tượng nào đó
		.featurecol
			.number
				.counter 500
				.label đơn vị
				img(src="img/icon/3.png", alt="")
			.des Doanh nghiệp & tổ chức 
				br
				|tin dùng
	section.home-why.clearfix
		h1.headtitle Vì sao bạn nên chọn faslink?
		.pagedes Với hơn 12 năm kinh nghiệm, chúng tôi có ưu thế vượt trội về mẫu mã, giá cả, thời gian cung ứng đa dạng các loại vải thời trang, vải chuyên dụng & vải cao cấp. Bên cạnh đó,  sed fringilla porttitor purus, volutpat nec feugiat dui vehicula sit amet. 
		.whylist.clearfix
			.why
				figure
					.whyimg(style="background: url(img/why/1.jpg) center center no-repeat;background-size: cover")
					figcaption
						.whytitle Chất liệu chất lượng phong phú
						.whydes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta rutrum lacus, id aliquam semper nec. Maecenas ac euismod ante, ou ratrum erna, nutritor les eloifend sapien.
						a.link(href="#") Tìm hiểu
			.why
				figure
					.whyimg(style="background: url(img/why/1.jpg) center center no-repeat;background-size: cover")
					figcaption
						.whytitle Thiết kế đề cao tính thẩm mỹ & khả năng ứng dụng
						.whydes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta rutrum lacus, id aliquam semper nec. Maecenas ac euismod ante, ou ratrum erna, nutritor les eloifend sapien.
						a.link(href="#") Tìm hiểu
			.why
				figure
					.whyimg(style="background: url(img/why/1.jpg) center center no-repeat;background-size: cover")
					figcaption
						.whytitle Chất liệu chất lượng phong phú
						.whydes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta rutrum lacus, id aliquam semper nec. Maecenas ac euismod ante, ou ratrum erna, nutritor les eloifend sapien.
						a.link(href="#") Tìm hiểu
section.home-category.clearfix
	h2.headtitle nhóm ngành Sản phẩm tiêu biểu
	.pagedes FASLINK đã đồng hành cùng 500 doanh nghiệp, tổ chức thuộc nhiều nhóm ngành khác nhau. Với chủ trưởng không kén chọn khách hàng, chúng tôi mong muốn có thể phục vụ nhiều ngành nghề, nhiều bộ phận khác nhau trong một hệ thống.
	.categorylist
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			.othercate
				.catename và sản phẩm
					br
					|thuộc các nhóm ngành
					br
					|dịch vụ khác
				a.link(href="#") Tìm hiểu thêm
section.home-news.clearfix
	.container
		h2.headtitle Tin tức & sự kiện
		.navwrap
			ul.nav.nav-tabs(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab', href='#home', role='tab') 
						.icon
							img(src="img/icon/n1.png", alt="")
						|Tất cả
				li.nav-item
					a.nav-link(data-toggle='tab', href='#profile', role='tab')
						.icon
							img(src="img/icon/n2.png", alt="")
						|Bản tin Faslink
				li.nav-item
					a.nav-link(data-toggle='tab', href='#messages', role='tab')
						.icon
							img(src="img/icon/n3.png", alt="")
						|Tin trong ngành
				li.nav-item
					a.nav-link(data-toggle='tab', href='#settings', role='tab')
						.icon
							img(src="img/icon/n4.png", alt="")
						|Phong cách sống
		.tab-content
			#home.tab-pane.active(role='tabpanel')
				.hotnews.owl-carousel
					.item
						.news
							figure
								figcaption
									h3.newsname
										a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
									.content
										p
											i
												strong Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết? Nếu chưa có câu trả lời, các bạn có thể theo dõi bài viết sau...
										p Từ ngàn đời nay, con người đã biết đến khả năng kháng khuẩn của bạc và đã ứng dụng trong cuộc sống như: làm đũa và bát ăn của vua chúa, đeo vòng bạc để phòng cảm mạo, hoặc dùng bạc để cạo gió khi bị cảm.
									a.link(href="#") Tìm hiểu thêm
								a.newsimg.video(href="#" data-fancybox="")
									img(src="img/news/v1.jpg", alt="")
					.item
						.news
							figure
								figcaption
									h3.newsname
										a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
									.content
										p
											i
												strong Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết? Nếu chưa có câu trả lời, các bạn có thể theo dõi bài viết sau...
										p Từ ngàn đời nay, con người đã biết đến khả năng kháng khuẩn của bạc và đã ứng dụng trong cuộc sống như: làm đũa và bát ăn của vua chúa, đeo vòng bạc để phòng cảm mạo, hoặc dùng bạc để cạo gió khi bị cảm.
									a.link(href="#") Tìm hiểu thêm
								a.newsimg.video(href="#" data-fancybox="")
									img(src="img/news/v1.jpg", alt="")
					.item
						.news
							figure
								figcaption
									h3.newsname
										a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
									.content
										p
											i
												strong Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết? Nếu chưa có câu trả lời, các bạn có thể theo dõi bài viết sau...
										p Từ ngàn đời nay, con người đã biết đến khả năng kháng khuẩn của bạc và đã ứng dụng trong cuộc sống như: làm đũa và bát ăn của vua chúa, đeo vòng bạc để phòng cảm mạo, hoặc dùng bạc để cạo gió khi bị cảm.
									a.link(href="#") Tìm hiểu thêm
								a.newsimg.video(href="#" data-fancybox="")
									img(src="img/news/v1.jpg", alt="")
				.newslist.clearfix
					.row.flex.flex-wrap
						.col-xs-12.col-md-6.col-lg-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.newsname
											a(href="#") Duis vel felis elementum, auctorin el magna eget.
										.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
						.col-xs-12.col-md-6.col-lg-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.newsname
											a(href="#") Duis vel felis elementum, auctorin el magna eget.
										.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
						.col-xs-12.col-md-6.col-lg-4
							.newscol
								figure
									a.newsimg(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.newsname
											a(href="#") Duis vel felis elementum, auctorin el magna eget.
										.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
			#profile.tab-pane(role='tabpanel') ...
			#messages.tab-pane(role='tabpanel') ...
			#settings.tab-pane(role='tabpanel') ...
			.btn-wrap
				a.btn-loadmore(href="#") Xem toàn bộ bản tin
section.home-subscribe.clearfix
	.container
		h2.headtitle Đăng ký nhận bản tin từ faslink
		.pagedes Điền địa chỉ e-mail của bạn để nhận được chương trình khuyến mãi, thông tin tuyển dụng hay những xu hướng làm đẹp cho công sở mới nhất từ chúng tôi.
		.subscribefrm.clearfix
			input(type="text", placeholder="Nhập địa chỉ e-mail tại đây")
			button.subscribebutton Đăng ký

