section.head-news.clearfix
	.headnews-slide
		.item
			.news
				figure
					figcaption
						h2.newsname 
							a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
						.newsdes Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết?...
						a.link(href="#") Đọc thêm
					a.newsimg(href="#")
						img(src="img/news/b1.jpg", alt="alt")
		.item
			.news
				figure
					figcaption
						h2.newsname 
							a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
						.newsdes Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết?...
						a.link(href="#") Đọc thêm
					a.newsimg(href="#")
						img(src="img/news/b1.jpg", alt="alt")
		.item
			.news
				figure
					figcaption
						h2.newsname 
							a(href="#") FASLink áp dụng công nghệ kháng khuẩn ION SILVER trên đồng phục công sở cao cấp
						.newsdes Chúng ta vẫn thường nghe về tính năng kháng khuẩn của Ion Silver (Ion bạc). Nhưng có khi nào tự hỏi IOn ấy làm gì mà vi khuẩn chết?...
						a.link(href="#") Đọc thêm
					a.newsimg(href="#")
						img(src="img/news/b1.jpg", alt="alt")
section.news-page.clearfix
	.container
		h1.pagetitle Tin tức
		.newslist.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
				.col-xs-12.col-md-6.col-lg-4
					.newscol
						figure
							a.newsimg(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.newsname
									a(href="#") Duis vel felis elementum, auctorin el magna eget.
								.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
section.home-subscribe.clearfix
	.container
		h2.headtitle Đăng ký nhận bản tin từ faslink
		.pagedes Điền địa chỉ e-mail của bạn để nhận được chương trình khuyến mãi, thông tin tuyển dụng hay những xu hướng làm đẹp cho công sở mới nhất từ chúng tôi.
		.subscribefrm.clearfix
			input(type="text", placeholder="Nhập địa chỉ e-mail tại đây")
			button.subscribebutton Đăng ký

