.newsbanner.clearfix
	img(src="img/news/bn1.jpg", alt="")
.container
	section.news-page.clearfix
		time 28.02.2017
		h1.headtitle Praesent in tempor nislet auctorium odior gravidar
		.news-cate.text-xs-center Phong cách sống
		.row.flex.flex-wrap
			.col-xs-12.col-lg-9
				section.news-detail.clearfix
					.content
						h4 Maecenas sed dictumse, non vehicula tortoir. Fusce peller entesque justo ante, a lacinia tellus accasain id. Ut sagittis sed nislon in elementum. 
						p Aenean ut magna sed diam suscipit elementum. Curabitur ornare odio pellentesque, interdum tortor a, ornare sapien. Proin fermentum velit libero, quis molestie venenatis porttitor mi eget bibendum placerat. Aliquam erat volutpat.
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis  egestas. Mauris semper, eros non imperdiet pulvinar, velit est ultricies libero, sit amet mattis ipsum nunc id nisl. Aenean ac quam quis tellus ullamcorper euismod.
						figure 
							img(src="img/news/p1.jpg", alt="")
						p Proin facilisis convallis orci, tempus congue enim rhoncus at. Mauris nec suscipit nun. Vestibulum libero tortor, aliquet maximus fringile, maximus vitae massa. Nulla semper, nisi ut placerat pharetra, leo arcu suscipit massa, non sagittis erat ligula eudoni ligula. Mauris vitae venenatis orci, at semper massa. Integer accumsan venenatis nis, quistol porttitor dui tempor ut.
						p Cras nec finibus est, sit amet interdum velit. In sollicitudin, just est ultricies libero ince dignissim fringilla, sapien erat finibus risus, in dictum nisl sapien ut elit. Nullae nipsum lacinia, sodales ligula sit amet, efficitur diam. 
					.hashtag
						a(href="#") dongphuc
						a(href="#") faslink
						a(href="#") maymac
						a(href="#") tag
					.social
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-tumblr" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
			.col-xs-12.col-lg-3
				section.other-news.clearfix
					h3.othertitle Bài viết liên quan
					.newslist
						.newscol
							figure
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.newsname
										a(href="#") Duis vel felis elementum, auctorin el magna eget.
									.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
						.newscol
							figure
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.newsname
										a(href="#") Duis vel felis elementum, auctorin el magna eget.
									.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.
						.newscol
							figure
								a.newsimg(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.newsname
										a(href="#") Duis vel felis elementum, auctorin el magna eget.
									.newsdes Hanip viverra placerat venenatis, cura bitur gravida mollis odioratium. Pellen tesque habitant tristique urna mattise felis, ac sollicitudi orcistor.