section.product-banner.clearfix
	img(src="img/product/bn1.jpg", alt="")
	//- .item
		.caption
			.season Spring/Summer 2017
			.collection
				strong NEW 01
				|Collection
			.des Maecenas placerat efficitur porta. Cras libero aliquam, suscipit ipsum gravida ligula, nulla magnacus fringilla in efficitur sit amet vulputate mauris.
.container
	section.collection-list.clearfix
		.row.flex.flex-wrap
			.col-xs-12.col-md-6
				.collection-col
					a.collection-img(href="#")
						img(src="img/collection/1.jpg", alt="")
			.col-xs-12.col-md-6
				.collection-col
					a.collection-img(href="#")
						img(src="img/collection/1.jpg", alt="")
section.design-uniform.clearfix
	.container
		.uniform-intro.clearfix(style="background: url(img/collection/bg.png) bottom right no-repeat")
			h2.headtitle Đồng phục đặt may
			.pagedes Bạn muốn đồng phục được thiết kế riêng theo nhu cầu sử dụng và đặc trưng nghề nghiệp của mình?
				br
				|Hãy tham khảo dịch vụ “Sản phẩm đặt may” của FASLink nhé!
			.btn-wrap
				a.link(href="#") Sản phẩm đặt may