section.product-page.clearfix
	.container
		.row.flex.flex-wrap
			.col-xs-12.col-md-6
				.product-slide
					.item
						a.product-img(href="img/product/1.jpg" data-fancybox="")
							img(src="img/product/1.jpg", alt="")
					.item
						a.product-img(href="img/product/1.jpg" data-fancybox="")
							img(src="img/product/1.jpg", alt="")
					.item
						a.product-img(href="img/product/1.jpg" data-fancybox="")
							img(src="img/product/1.jpg", alt="")
				.product-nav
					.item
						.product-img
							img(src="img/product/1.jpg", alt="")
					.item
						.product-img
							img(src="img/product/1.jpg", alt="")
					.item
						.product-img
							img(src="img/product/1.jpg", alt="")
			.col-xs-12.col-md-6
				.product-info
					h1.product-name Sơ mi oxford nữ tay dài sọc cách điệu
					.product-id #product_code_01
					.product-price 
						.new 300.000VNĐ
					.product-option
						select(name="")
							option Màu
						select(name="")
							option Size
						a.btn-buy(href="#") Liên hệ đặt hàng
					.product-des 
						p Spring varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque feugiat, ipsum feugiat faucis accumsan, ligula dolor dapibus tortor.
						p Praesent vulputate malesuada est, et pretium arcu sodales quis. In hac habitasse platea dictumst.
				//- .product-overview
					.group
						.title Thông số kích cỡ
						.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum numquam, deleniti perferendis nisi fuga dignissimos, delectus qui, nemo laboriosam harum explicabo. Dignissimos autem nostrum aspernatur aliquam iusto deserunt perspiciatis esse!
					.group
						.title Thành phần chất liệu
						.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum numquam, deleniti perferendis nisi fuga dignissimos, delectus qui, nemo laboriosam harum explicabo. Dignissimos autem nostrum aspernatur aliquam iusto deserunt perspiciatis esse!
				.share
					a.fa.fa-facebook(href="#")
					a.fa.fa-google-plus(href="#")
					a.fa.fa-pinterest-p(href="#")
					a.fa.fa-tumblr(href="#")
					a.fa.fa-twitter(href="#")
			.col-xs-12
				section.product-collection.clearfix
					figure
						a.collection-img(href="#")
							img(src="source", alt="alt")
						figcaption
							h2.collection-name
								a(href="#") Summer collection 01
							.collection-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. In adipisci ullam corporis rerum error harum, vitae architecto accusamus consectetur minima aliquam quis magnam cupiditate quo labore delectus nostrum quasi omnis.
							a.link(href="#") Khám phá
			.col-xs-12
				section.other-product.clearfix
					h3.headtitle Sản phẩm liên quan
					.other-slide
						.item
							.product-col
								figure
									a.product-img(href="#")
										img(src="", alt="")
									figcaption
										h3.product-name
											a(href="#") Áo sơ mi nam
						.item
							.product-col
								figure
									a.product-img(href="#")
										img(src="", alt="")
									figcaption
										h3.product-name
											a(href="#") Áo sơ mi nam
						.item
							.product-col
								figure
									a.product-img(href="#")
										img(src="", alt="")
									figcaption
										h3.product-name
											a(href="#") Áo sơ mi nam
						.item
							.product-col
								figure
									a.product-img(href="#")
										img(src="", alt="")
									figcaption
										h3.product-name
											a(href="#") Áo sơ mi nam