section.lookbook-banner.clearfix
	.lookbook-img
		img(src="img/lookbook/bn1.jpg", alt="")
	//- .container
		.caption
			.season Spring/Summer 2017
			.collection-name 
				strong New 01
				br
				|collection
			a.link1(href="#") Cho nam
			a.link2(href="#") Cho nữ
section.lookbook-page.clearfix
	.container
		.lookbook-intro
			.pagetitle Vestibulum ac libero fringilla amet.
			.pagedes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proidante bortis lorem, ornare augue. Aenean pellentesque sollicitudin augue, vitae interdum ers. Sed massa nisl, efficitur nisl ide, efficitur aliquam leo, donec iaculis massa.
		.lookbook-list
			.row.flex.flex-wrap
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/2.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
				.col-xs-12.col-md-4
					.lookbook-col
						figure
							a.img(href="#")
								img(src="img/lookbook/1.jpg", alt="")
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							figcaption
								h2.name
									a(href="#") Men look 1
								.des Lorem Jacket, Ipsum Blazer, Efficitur Pants
