section.product-solution.clearfix(style="background: url(img/product/bn3.jpg) center center no-repeat;background-size: cover")
	.container
		.solution-intro
			figure
				.solution-img
					img(src="img/product/i1.png", alt="")
				figcaption
					h1.solution-title Tìm giải pháp đồng phục cho riêng bạn
					.solution-des Tại FASLINK, chúng tôi cải tiến không ngừng nghỉ dòng sản phẩm đặt may. Chúng tôi luôn chú trọng nghiên cứu và đề xuất những lợi ích chuyên biệt, hợp lý, hữu dụng nhất trên sản phẩm cho từng khách hàng.
					a.link(href="#") Bắt đầu
section.solution-material.clearfix
	.container
		h1.headtitle Ưu thế về chất liệu
		.pagedes Tiền thân là công ty nhập khẩu và phân phối vải sợi trên quy mô toàn quốc với hơn 20 năm kinh nghiệm, FASLINK có ưu thế vượt trội về mẫu mã, giá cả, thời gian cung ứng các loại vải thời trang, vải chuyên dụng & vải cao cấp.
		.solution-slide1
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.

section.solution-style.clearfix
	.container
		h1.headtitle Ưu thế về chất liệu
		.pagedes Tiền thân là công ty nhập khẩu và phân phối vải sợi trên quy mô toàn quốc với hơn 20 năm kinh nghiệm, FASLINK có ưu thế vượt trội về mẫu mã, giá cả, thời gian cung ứng các loại vải thời trang, vải chuyên dụng & vải cao cấp.
		.solution-slide2
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.
			.item
				.material
					figure
						.material-img
							img(src="img/product/p1.jpg", alt="")
						figcaption
							.material-title Chất lượng & Tính năng
							.material-des
								p Dòng chất liệu của FASLINK luôn đảm bảo thỏa mãn các tiêu chí của đồng phục: độ bền màu, chống xù lông, chống nhăn, an toàn sức khỏe cho người sử dụng và dễ bảo quản.
								p Bên cạnh đó, chúng tôi còn phát triển những dòng chất liệu cao cấp, có tính năng chuyên biệt: diệt khuẩn, chống cháy… nhằm nâng cao giá trị và chất lượng của đồng phục Việt.