section.creative-step.clearfix
	.container
		.step-number Bước 1/6
		.step-title Xác định đối tượng sử dụng
		.row.flex.flex-wrap
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#treem(type="radio", name="")
					label(for="treem") Trẻ em
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#nguoilon(type="radio", name="")
					label(for="nguoilon") Người lớn
section.creative-step.clearfix
	.container
		.step-number Bước 2/6
		.step-title Chọn loại hình sản phẩm
		.row.flex.flex-wrap
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#dongphuc(type="radio", name="")
					label(for="dongphuc") Quần áo đồng phục
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#thoitrang(type="radio", name="")
					label(for="thoitrang") Quần áo thời trang
section.creative-step.clearfix
	.container
		.step-number Bước 3/6
		.step-title Chọn kỹ thuật may
		.row.flex.flex-wrap
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#theosize(type="radio", name="")
					label(for="theosize") May theo size
			.col-xs-12.col-sm-6
				.user-img
					img(src="", alt="")
				.radio-button
					input#sodo(type="radio", name="")
					label(for="sodo") May theo số đo
section.creative-step.clearfix
	.container
		.step-number Bước 4/6
		.step-title Chọn kỹ thuật may
		.row.flex.flex-wrap
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#vest(type="checkbox", name="")
					label(for="theosize") Áo vest
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#quantay(type="checkbox", name="")
					label(for="quantay") Quần tây
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#somi(type="checkbox", name="")
					label(for="somi") Áo sơ mi
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#chanvay(type="checkbox", name="")
					label(for="chanvay") Chân váy
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#coco(type="checkbox", name="")
					label(for="coco") Áo thun có cổ
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#khongco(type="checkbox", name="")
					label(for="khongco") Áo thun không cổ
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#damdai(type="checkbox", name="")
					label(for="damdai") Đầm dài
			.col-xs-6.col-md-3
				.user-img
					img(src="", alt="")
				.checbox-button
					input#phukien(type="checkbox", name="")
					label(for="phukien") Phụ kiện
section.creative-step.clearfix
	.container
		.step-number Bước 5/6
		.step-title Xác nhận số lượng 
			br
			|& Giá thành sản phẩm
		.product-amount
			.label Chọn số lượng sản phẩm bạn muốn đặt may (đơn vị tính: cái/sản phẩm):
			ul 
				li.radio-button
					input(type="radio", name="")
					label(for="") 100 - 200
				li.radio-button
					input(type="radio", name="")
					label(for="") 200 - 500
				li.radio-button
					input(type="radio", name="")
					label(for="") Trên 500
		.product-amount
			.label Ngân sách bạn dành cho mỗi sản phẩm (đơn vị tính: VNĐ)
			ul 
				li.radio-button
					input(type="radio", name="")
					label(for="") 200.000 - 300.000
				li.radio-button
					input(type="radio", name="")
					label(for="") 300.000 - 500.000
				li.radio-button
					input(type="radio", name="")
					label(for="") 500.000 - 1.000.000
				li.radio-button
					input(type="radio", name="")
					label(for="") Trên 1.000.000
section.creative-step.clearfix
	.container
		.step-number Bước 6/6
		.step-title Thông tin liên hệ
		.pagedes Vui lòng để lại thông tin liên hệ theo mẫu bên dưới, chúng tôi sẽ phản hồi về đơn hàng của bạn trong thời gian ngắn nhất!
		
		.row.flex.flex-wrap
			.col-xs-12.col-md-10.col-lg-8.offset-md-1.offset-lg-2
				.creative-form.row.flex.flex-wrap.clearfix
					.form-group.col-xs-12.col-md-4
						input(type="text", placeholder="Họ và tên *")
					.form-group.col-xs-12.col-md-4
						input(type="text", placeholder="Số điện thoại *")
					.form-group.col-xs-12.col-md-4
						input(type="text", placeholder="Đại diện cho công ty")
					.form-group.col-xs-12.col-md-6
						input(type="text", placeholder="Email *")
					.form-group.col-xs-12.col-md-6
						input(type="text", placeholder="Địa chỉ *")
					.form-group.col-xs-12
						textarea(name="", cols="30", rows="10")

.btn-wrap.clearfix
	a.btn-back(href="#") Hủy
	a.btn-back(href="#") Xác nhận