section.product-banner.clearfix
	.banner-img
		img(src="img/product/bn2.jpg", alt="")
	//- .caption
		.season Spring/Summer 2017
		h1.collection-name
			strong New 01
			br
			|collection
section.product-page.clearfix
	.container
		//- .product-filter
			.filter-group
				.dropdown
					a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Sắp xếp theo
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
			.filter-group
				.dropdown
					a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Đối tượng
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
			.filter-group
				.dropdown
					a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Sản phẩm
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
			.filter-group
				.dropdown
					a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Tính năng
					.dropdown-menu(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
			.product-sort
				span.product-amount 59 sản phẩm
				a.showall(href="#") Hiển thị tất cả
		.product-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.soldout Hết hàng
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.new Hàng mới
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.sale sale off
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
				.col-xs-12.col-md-4
					.product-col
						figure
							a.product-img(href="#")
								img(src="source", alt="alt")
							figcaption
								.promotion
									span.hot Bán chạy
								h2.product-name
									a(href="#") Áo sơ mi nam tay dài đắp vai
								.product-price 300.000
								.product-color
									a(href="#")
									a(href="#")
									a(href="#")
			.pages
				ul.pagination
					li
						a.FirstPage(href='#1', title='Trang đầu tiên') «
					li
						a.BackPage(href='#2', title='Quay lại trang 2') ‹
					li
						a(href='#', title='Đến trang 1') 1
					li
						a(href='#', title='Đến trang 2') 2
					li.active
						span 3
					li
						a(href='', title='Đến trang 4') 4
					li
						a.NextPage(href='', title='Chuyển đến trang 4') ›
					li
						a.LastPage(href='', title='Trang cuối') »

