section.service-banner.clearfix
	img(src="img/service/bn1.jpg", alt="")
	//- .container
		h1.caption Đồng phục 
			br
			|công sở
section.service-material.clearfix
	.container
		h2.headtitle Chất liệu chuyên biệt
		.pagedes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam integer non metus dui vulputate congue. Praesent urna urna, accumsan sed orci a, auctor lobortis turpis. Aenean suscipit vulputate sapien, mattis blandit. Donec finibus massa quis dui vestibulum, ut pharetra erat ornare. 
		.material-list.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-md-6
					.material
						figure
							.materialimg
								img(src="img/service/s1.png", alt="")
							figcaption
								h3.materialname CVC ION SILVER
								.materialdes Vải kháng khuẩn từ sợi với tính năng kháng khuẩn, khử mùi, bảo vệ sức khỏe, thấm hút tốt, chống nhăn và co dãn thoải mái.
				.col-xs-12.col-md-6
					.material
						figure
							.materialimg
								img(src="img/service/s2.png", alt="")
							figcaption
								h3.materialname POLY COFREX
								.materialdes Có tính năng thấm hút vượt trội, nhanh khô, thoát ẩm 3D, mềm mịn, chống nhăn, đặc biệt là khả năng chống tia UV, bảo vệ da trước tác hại của tia mặt trời.
				.col-xs-12.col-md-6
					.material
						figure
							.materialimg
								img(src="img/service/s3.png", alt="")
							figcaption
								h3.materialname ANti UV - anti từ
								.materialdes Vải Bamboo fabric, Nano SIlver với tính năng chống nhăn, hút ẩm tốt, chống tia tử ngoại, chống khuẩn và thân thiện với môi trường
				.col-xs-12.col-md-6
					.material
						figure
							.materialimg
								img(src="img/service/s4.png", alt="")
							figcaption
								h3.materialname SPANDEX LIKE (SPUN)
								.materialdes Khả năng co dãn cao, chống nước, chống bụi, chống cháy, cách nhiệt, không bị co lại khi giặt và không bị hủy hoại bởi nấm mốc.
section.product-picture.clearfix
	h1.headtitle Hình ảnh sản phẩm
	.picture-list.flex.flex-wrap.clearfix
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
		article.col-xs-12.col-sm-6.col-md-3.nopadding
			a.picture(href="#")
				img(src="img/service/p1.jpg", alt="")
	.pages
		ul.pagination
			li.active
				a(href="#") 1
			li 
				a(href="#") 2
			li 
				a(href="#") 3
			li 
				a(href="#") 4
section.popular-client.clearfix
	.container
		h2.headtitle Khách hàng tiêu biểu
		.client-list
			.item
				.clientgroup
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
			.item
				.clientgroup
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
			.item
				.clientgroup
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
					.clientcol
						img(src="img/client/1.jpg", alt="")
