.flex.flex-wrap.clearfix
	.col-xs-12.col-lg-4.nopadding
		section.service-img.clearfix(style="background: url(img/service/1.jpg) center center no-repeat;background-size: cover")
	.col-xs-12.col-lg-8.nopadding
		section.service-intro.clearfix
			.caption Chất liệu phong phú, thiết kế thấu hiểu nhu cầu, sản phẩm dẫn đầu xu hướng.
			.service-des Class aptent taciti socioque ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque venenatis mi eget tortor eleifend, sed fratigue dismendo. Với hơn 20 năm kinh nghiệm, FASLINK hiện chuyên cung cấp các dịch vụ:
			ul.intro-list
				li 
					.icon
						img(src="img/icon/a1.png", alt="")
					.des
						p 
							strong Tư vấn và thiết kế đồng phục
						p Morbi gravida lorem vel duipe bibendum ismod, reet at dolor sit amet, purus.
				li 
					.icon
						img(src="img/icon/a2.png", alt="")
					.des
						p 
							strong May mặc (May đo, May size)
						p Fusce in dolor condimentum, varius mi ut, elfend libero. Vivamus suscipit nunc sapientelly.
				li 
					.icon
						img(src="img/icon/a3.png", alt="")
					.des
						p 
							strong Vải sợi may mặc
						p Ut mattis ipsum venenatis aliquam, vestibulum feugiat ipsum at erat fermentum consectetur. 
section.service-workflow.clearfix
	.container
		h2.headtitle Quy trình của chúng tôi
		.flowlist.clearfix
			.row.flex.flex-wrap.flex-content-center
				.flowcol
					.number 1.
					.flowname Tư vấn thiết kế
						br
						|& chất liệu
					.flowdes Duis malesuada ut inc fringillar. Mauris tempor lacus car metus, tumi venenatis exi pulvinar nec. Namis rutrum id consectetur.
				.flowcol
					.number 2.
					.flowname Lấy số đo
						br
						|Phân loại size
					.flowdes Aliquam quis euismod, eleifendi vitae, malesuada nisi. Sedon orna nisi iaculis conval varius, sapiener euismod ligula aton dictum.
				.flowcol
					.number 3.
					.flowname May mẫu
						br
						|Sản xuất hàng loạt
					.flowdes Duis malesuada ut inc fringillar. Mauris tempor lacus car metus, tumi venenatis exi pulvinar nec. Namis rutrum id consectetur.
				.flowcol
					.number 4.
					.flowname Đóng gói
						br
						|& giao hàng
					.flowdes Duis malesuada ut inc fringillar. Mauris tempor lacus car metus, tumi venenatis exi pulvinar nec. Namis rutrum id consectetur.
				.flowcol
					.number 5.
					.flowname Bảo hành & lưu trữ
						br
						|thông tin khách hàng
					.flowdes Duis malesuada ut inc fringillar. Mauris tempor lacus car metus, tumi venenatis exi pulvinar nec. Namis rutrum id consectetur.
section.home-category.clearfix
	h2.headtitle nhóm ngành Sản phẩm tiêu biểu
	.pagedes FASLINK đã đồng hành cùng 500 doanh nghiệp, tổ chức thuộc nhiều nhóm ngành khác nhau. Với chủ trưởng không kén chọn khách hàng, chúng tôi mong muốn có thể phục vụ nhiều ngành nghề, nhiều bộ phận khác nhau trong một hệ thống.
	.categorylist
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			figure
				a.categoryimg(href="#")
					img(src="img/cate/1.jpg", alt="")
					.cateoverlay
				figcaption
					h3.catename
						a(href="#") Đồng phục công sở
					a.link(href="#") Chi tiết
		.categorycol
			.othercate
				.catename và sản phẩm
					br
					|thuộc các nhóm ngành
					br
					|dịch vụ khác
				a.link(href="#") Tìm hiểu thêm
section.service-help.clearfix
	.container
		.help.clearfix(style="background: url(img/service/phone.png) right bottom no-repeat;")
			.pagedes Bạn muốn tìm hiểu kĩ hơn về các gói dịch vụ của chúng tôi?
				br
				|Vui lòng liên hệ với nhân viên CSKH của FASLINK qua email, khung live chat hoặc số hotline.
			.hotline
				a(href="tel:0916 365 365") <i class="fa fa-phone" aria-hidden="true"></i>0916 365 365
				.des Thời gian làm việc: 8:00 - 18:00
			.email 
				a(href="mailto:") Email