footer
	section.footertop.clearfix
		.container
			.row.flex.flex-wrap
				.col-xs-12.col-lg-5
					section.footercol.clearfix
						h3.company Công ty cổ phần kết nối thời trang
						.about Trụ sở thành phố Hồ Chí Minh:
							br
							|35A1 3 Tháng 2, Phường 11, Quận 10 - (+84) 8 6290 6408
							br
							|Trụ sở Hà Nội:
							br
							|105 Láng Hạ, Phường Láng Hạ, Quận Đống Đa - (+84) 4 6294 5064
				.col-xs-12.col-md-4.col-lg-2
					section.footercol.clearfix
						h3.ftitle Chính sách chung
						nav.footerlink
							ul 
								li 
									a(href="#") Đóng gói & Giao hàng
								li 
									a(href="#") Lưu trữ
								li 
									a(href="#") Bảo hành
								li 
									a(href="#") Đổi trả hàng hóa
				.col-xs-12.col-md-4.col-lg-2
					section.footercol.clearfix
						h3.ftitle Liên kết
						nav.footerlink
							ul 
								li 
									a(href="#") Công ty Kết Nối Thời Trang
								li 
									a(href="#") Thương hiệu vải
								li 
									a(href="#") BSpoke
				.col-xs-12.col-md-4.col-lg-3
					section.footercol.clearfix
						h3.ftitle Kết nối FASLINK
						nav.social.clearfix
							a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
							a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
							a(href="#") <i class="fa fa-skype" aria-hidden="true"></i>
	section.footerbottom.clearfix
		.copyright 2017 © Bản quyển thuộc sở hữu Công ty Cổ phần Kết Nối Thời Trang.
	.up <i class="fa fa-angle-up" aria-hidden="true"></i>